
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a [routerLink]='[""]' class="navbar-brand d-none d-lg-inline-block">
      Boretslag logo
    </a>
    <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
      <img src="//placehold.it/40?text=LOGO" alt="logo">
    </a>
    <div class="w-100 text-right">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 " id="myNavbar">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a [routerLink]='["/styret/s-ny"]' class="nav-link ml-5 mr-5 menu-item">Nytt oppslag</a>
      </li>
      <li class="nav-item">
        <a [routerLink]='["/styret/s-aktive"]' class="nav-link ml-5 mr-5 menu-item">Aktive oppslag</a>
      </li>
      <li class="nav-item">
        <a [routerLink]='["/styret/s-arkiv"]' class="nav-link ml-5 mr-5 menu-item">Arkiv</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link ml-5 mr-5 menu-item">instillinger</a>
      </li>
    </ul>
  </div>
</nav>
